export(fareprim, lowe, malm)
importFrom("Rglpk", "Rglpk_solve_LP")
importFrom("doParallel", "registerDoParallel")
importFrom("doParallel", "stopImplicitCluster")
importFrom("foreach", "foreach")
importFrom("foreach", "%dopar%")
importFrom("foreach", "registerDoSEQ")
importFrom("parallel", "detectCores")
importFrom("utils", "write.csv")
importFrom("utils", "globalVariables")
