export(fareprim, fisher, laspeyres, lowe, malm, paasche, Levels, Changes, Shadowp)

S3method("print", "FarePrimont")
S3method("print", "Fisher")
S3method("print", "Laspeyres")
S3method("print", "Lowe")
S3method("print", "Malmquist")
S3method("print", "Paasche")

importFrom("Rglpk", "Rglpk_solve_LP")
importFrom("doParallel", "registerDoParallel")
importFrom("doParallel", "stopImplicitCluster")
importFrom("foreach", "foreach")
importFrom("foreach", "%dopar%")
importFrom("foreach", "registerDoSEQ")
importFrom("methods", "is")
importFrom("parallel", "detectCores")
importFrom("plm", "is.pbalanced")
importFrom("utils", "write.csv")
importFrom("utils", "globalVariables")
importFrom("utils", "flush.console")